<html>
  <head>
    <title>投資糾紛與集體訴訟</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    {% block script %}{% endblock %}
  </head>
  <body>
    <div id='main'>
      <div id='logo'><a href='/'><img src='/pics/AL.jpg' />投資糾紛與集體訴訟</a></div>
      <div id='description'>面對投資糾紛所引起的法律爭議－歡迎大家一起研究這方面的議題！</div>
      <span id='new_post'><a href='/add_article'>發表文章</a></span>
      <div class='top_break_line'><hr /></div>
      {% block content %}{% endblock %}
      <div id='footer'>
        Copyright © 2011. Made by poopoo888888. Powered by Google App Engine.
      </div>
    </div>   
  </body>
</html>